@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a:link{color: #AFAFAF;}
a:visited{color: #AFAFAF;}
a:hover{color:red}
a:active{color:#AFAFAF}


header{
    width: 1920px;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #797979;
}

.navigatiion{
    width: 1100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

header .navigation h1{
    width: 230px;
    display: flex;
    align-items: center;
}

header .navigation nav{
    width: 713px;
    height: 100px;
    display: flex;
    align-items: center;
}

nav{
    margin-right: 100px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
}

nav ul a{
    padding-left: 50px;
    font-weight: 300;
    font-size: 40px;
    letter-spacing: -0.4px;
}
header h1 img{
    width: 800px;
    padding-top: 30px;
}
.box1{
    position: relative;
    background-image: url(img/그룹\ 7.png);
    height: 4462px;
    width: 1920px;
    background-position-x: -1377px;
}
.text1_1{
    position: absolute;
    margin-left: 247px;
    margin-top: 189px;
    font-size: 94px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;

}
.text1_2{
    position: absolute;
    margin-left: 1220px;
    margin-top: 376px;
    font-size: 94px;
    font-family: 'Noto Sans KR', sans-serif;

}
.text1_3{
    position: absolute;
    margin-left: 240px;
    margin-top: 616px;
    font-size: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: left;
    line-height: 100px;

}
.text1_4{
    position: absolute;
    margin-left: 240px;
    margin-top: 865px;
    font-size: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    line-height: 100px;

}
.text1_5{
    position: absolute;
    margin-left: 240px;
    margin-top: 1536px;
    font-size: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: left;
    line-height: 100px;
}
.text1_6{
    position: absolute;
    margin-left: 240px;
    margin-top: 1880px;
    font-size: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    line-height: 100px;

}
.text1_7{
    position: absolute;
    margin-left: 240px;
    margin-top: 2740px;
    font-size: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    text-align: left;
    line-height: 100px;
}
.text1_8{
    position: absolute;
    margin-left: 240px;
    margin-top: 3086px;
    font-size: 38px;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    line-height: 100px;

}
